<div class="row">
    <div class="col-sm-12 col-md-12" style="margin-top: 80px;">
        <h2>Telefonaci ai numeri:</h2>
        <ul>
            <li><mat-icon style="margin-right: 10px;"> call</mat-icon>03584452000</li>
            <li><mat-icon style="margin-right: 10px;"> call</mat-icon>55585228122</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12">
        <h2 style="margin-top: 50px;">Inviaci un email</h2>
        <ul>
            <li style="align-items: center;"><mat-icon style="margin-right: 10px; align-items: center;"> email</mat-icon>loremipsum@gmail.com</li>
        </ul>
    </div>
</div>

<div claSS="row">
    <div class="col-sm-12 col-md-12">
        <h2 style="margin-top: 50px;">Scrivici sui social</h2>
        <ul>
            <li><mat-icon color="blue">facebook</mat-icon></li>
            <li><mat-icon>whatsapp</mat-icon></li>
        </ul>
    </div>
</div>
