img{
    width:500px;
    height:500px;
    justify-content: flex-start;
}

.container-fluid{
    display: flex;
    justify-content: center;
}


.container-sezione{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
   
    justify-content: space-between;
   
    p{
        text-align: justify;
    }
}

.containerForm{
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    
    margin-left: 300px;
    margin-top: 200px;
    flex-wrap: nowrap;
}

.container-after{
    display: flex;
    flex-direction: column;
    align-items: center;
}
